<?xml version="1.0" encoding="UTF-8"?>

<suite name="restassuredtestsuite">
	
	<!--<listeners>
		<listener class-name="com.employeeApi.utilities.Listeners" />
	</listeners>-->
	
	<test name="restassuredtests">
	
		<classes>
			<class name="com.employeeApi.testCases.TC_001_employeeApi" />
			<class name="com.employeeApi.testCases.TC_002_singleEmp" />
			<class name="com.employeeApi.testCases.TC_003_newEmployee" />
			<class name="com.employeeApi.testCases.TC_004_UpdateEmp_Put" />
			<class name="com.employeeApi.testCases.TC_005_DeleteEmp" />		
		</classes>
	
	</test>
	
</suite>

<!-- Running file through pom.xml we need 2 plugins apache maven and also we need to mention this testng.xml file in 
 these plugins -->
 
 